<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.ryan.aop_test.bean.impl.UserService">
        <property name="mapper" ref="userMapper"/>
    </bean>
    <bean id="userMapper" class="com.ryan.aop_test.bean.UserMapper">
        <property name="service" ref="userService"/>
    </bean>
    <bean id="logAspect" class="com.ryan.aop_test.LogAdvices" />

    <aop:config>
        <aop:pointcut id="point1" expression="execution(* com.ryan.aop_test.bean.*.*(..))" />
        <aop:aspect ref="logAspect">
            <aop:before method="before" pointcut-ref="point1"/>
            <aop:after-returning method="after" pointcut-ref="point1" />
        </aop:aspect>
    </aop:config>

</beans>
